{{define "dayHeading"}}
           <th class="schedule-week-day-heading
                     schedule-week-day{{.i}}">
            <a href="https://ury.org.uk/schedule/{{.year}}/{{.week}}/{{.day}}/">
            {{.dayName}}
            </a>
          </th>
{{end}}

{{define "timeRow"}}
          <th class="schedule-week-time schedule-week-hour">
            {{.t}}
          </th>
{{end}}

{{define "timeslot"}}
          <td class="schedule-week-day{{.d}}
                     schedule-week-timeslot
                     block-default" title="{{.description}}" rowspan="{{.rowspan}}">
            <a href="https://ury.org.uk/schedule/shows/timeslots/{{.id}}/">
              {{.rowspan}} {{.title}}
            </a>
          </td>
{{end}}

{{define "content"}}
{{with .PageData}}
<link href='/styles/ury.css' rel='stylesheet' type='text/css'>
<div class="container">

  <h2>
    Schedule for<br>{{.StartDate}} to<br>{{.EndDate}}
  </h2>
<div id="content-body">
  <section id="schedule-week">
    <table id="schedule-week-table">
      <thead>
        <tr>
          <th>Time</th>
          {{range $i , $err := N .NumDays}}
          {{$d := index $.PageData.DaysOfWeek $i}}
          {{template "dayHeading" dict "day" (add 1 $i) "dayName" $d "year" $.PageData.Year "week" $.PageData.Week}}
          {{end}}
        </tr>
      </thead>
      <tbody>
        {{range $rowI, $row := .Table}}
        <tr>
          {{template "timeRow" dict "t" $row.TimeStr}}
          {{range $dayI, $err := N $.PageData.NumDays}}
            {{$cell := index $row.Cells $dayI}}
            {{$ts := $cell.Timeslot}}
            {{if $cell.RowSpan}}
              {{template "timeslot" dict "d" (add 1 $dayI) "id" $ts.TimeslotID "title" $ts.Title "description" $ts.Season.ShowMeta.Description "rowspan" $cell.RowSpan}}
            {{end}}
          {{end}}
        </tr>
        {{end}}
      </tbody>
    </table>
  </section>
</div>
</div><!-- /.container -->

{{end}}
{{end}}
