{{define "dayHeading"}}
           <th class="schedule-week-day-heading
                     schedule-week-day{{.i}}">
            <a href="https://ury.org.uk/schedule/{{.year}}/{{.week}}/{{.day}}/">
            {{.dayName}}
            </a>
          </th>
{{end}}

{{define "timeRow"}}
          <th class="schedule-week-time schedule-week-hour">
            {{.t}}
          </th>
{{end}}

{{define "timeslot"}}
          <td class="schedule-week-day{{.d}}
                     schedule-week-timeslot
                     block-default" title="{{.description}}" rowspan="1">
            <a href="https://ury.org.uk/schedule/shows/timeslots/{{.id}}/">
              {{.rowspan}} {{.title}}
            </a>
          </td>
{{end}}

{{define "content"}}
{{with .PageData}}
<link href='/styles/ury.css' rel='stylesheet' type='text/css'>
<div class="container">

  <h2>
    Schedule for<br>{{.StartDate}} to<br>{{.EndDate}}
  </h2>
<div id="content-body">
  <section id="schedule-week">
    <table id="schedule-week-table">
      <thead>
        <tr>
          <th>Time</th>
          {{range $i , $err := N .NumDays}}
          {{$d := index $.PageData.DaysOfWeek $i}}
          {{template "dayHeading" dict "day" (add 1 $i) "dayName" $d "year" $.PageData.Year "week" $.PageData.Week}}
          {{end}}
        </tr>
      </thead>
      <tbody>
        {{range $rowI, $row := .Table}}
        <tr>
          {{template "timeRow" dict "t" $row.TimeStr}}
          {{range $dayI, $err := N $.PageData.NumDays}}
            {{$cell := index $row.Cells $dayI}}
            {{$ts := $cell.Timeslot}}
            {{template "timeslot" dict "d" (add 1 $dayI) "id" $ts.TimeslotID "title" $ts.Title "description" $ts.Season.ShowMeta.Description "rowspan" $cell.RowSpan}}
          {{end}}
        </tr>
        {{end}}
        <tr>
          <th class="schedule-week-time schedule-week-hour">
            09:00
          </th>

          <td class="schedule-week-day1
                     schedule-week-timeslot
                     block-default" title="ALT TEXT!!!" rowspan="1">
            <a href="https://ury.org.uk/schedule/shows/timeslots/138879/">
              Grumpy Youngish Men
            </a>

          </td>
          <td class="schedule-week-day2
                     schedule-week-timeslot
                     block-jukebox" title="Non-stop tones from the URY Jukebox." rowspan="4">
            URY Jukebox

          </td>
          <td class="schedule-week-day3
                     schedule-week-timeslot
                     block-jukebox" title="Non-stop tones from the URY Jukebox." rowspan="2">
            URY Jukebox

          </td>
          <td class="schedule-week-day4
                     schedule-week-timeslot
                     block-default" title="an exploration of the wonderful music of the classic age of rock and roll, the 50's,60's,70's and 80's. Going through each decade year by year, show one looks at music from 1950,60,70 and 80, discovering information about the tracks and artists and including an 'on this day' segment as to what was occuring in the world on each day of broadcast in the year the tracks were created. From Jerry Lee Lewis to the late, great David Bowie,&quot; The Age of Rock and Roll&quot; is perfect to get you up and dancing to the iconic sounds of the era of Rock and Roll." rowspan="1">
            <a href="https://ury.org.uk/schedule/shows/timeslots/138482/">
              The Age of Rock and Roll
            </a>

          </td>
          <td class="schedule-week-day5                schedule-week-timeslot                block-jukebox" title="Non-stop tones from the URY Jukebox." rowspan="2">
            URY Jukebox

          </td>
          <td class="schedule-week-day6
                     schedule-week-timeslot
                     block-jukebox" title="Non-stop tones from the URY Jukebox." rowspan="4">
            URY Jukebox

          </td>
          <td class="schedule-week-day7
                     schedule-week-timeslot
                     block-jukebox" title="Non-stop tones from the URY Jukebox." rowspan="2">
            URY Jukebox

          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
</div><!-- /.container -->

{{end}}
{{end}}
